{% extends "/layout.html" %}

{% block styles %}
<style>
img.category_icon {
	width: 60px;
	
}
</style>
{% endblock %}

{% block body %}


	
	<p>It's not even midterms yet. Finals seems to be far far away. But you know what?</p>
	<p>It's time to think about your thesis, according to Nancy.</p>
	<br>

<div class="row">


	<!-- right column -->
	<div class="span4">
		<form method="POST" action="/choose">
			<label for="name">Name</label>
			<input type="text" placeholder = "Type your name." id="name" name="name">
	</div>
	
	<div class = "span4">
			<label for="category">What kind of project will your thesis be?</label>
			
			{% for name, info in categories.items() %}
			<label class="checkbox">
				<input type="checkbox" name="category" value="{{ name }}">
				<img class="category_icon img-rounded" src="/static/img/categories/{{ info.get('image') }}">
				{{ name }}
			</label>
			<br />
			{% endfor %}
			
			<label class = "checkbox">
				<input type = "checkbox" name = "category" value = "None of them!">
				<img class="category_icon img-rounded" src="/static/img/categories/extra.png">
				None of them!
			</label>
			<textarea rows = "3" placeholder = "Tell me in detail!"></textarea> 
			
		</div>
		
		<div class ="span4">	
			<label for="start">When are you planning to start?</label>
			<select id="start" name="start">
				<option value="already">What are you talking about? I started already.</option>
				<option value="now">Thanks to you, from now on?</option>
				<option value="midterm">Well...maybe after midterm?</option>
				<option value="final">Hmm...after finals?</option>
				<option value="dunno">I dunno. Stop reminding me.</option>
			</select>
		
			
			<br />


			<div class = "form-actions">
				<button type = "submit" class = "btn btn-primary"> Save it for later</button>
				<button type = "button" class = "btn"> Cancel </button>
		</form>

	</div>
	
	</div>

</div>

{% endblock %}


{% block scripts %}{% endblock %}