{% extends "/layout.html" %}

{% block styles %}
<style>
img.confirm {
	width: 300px;
}
</style>
{% endblock %}

{% block body %}

<div class="row">

	<!-- left column -->
	<div class="span6 offset1">
		<h2>Thesis Time</h2>
		Name : {{ name }}<br>
		Good luck on your journey to your, {{category_name}}

		<hr />
		{% if start_time %}
		Thesis time : {{ thesis_time.strftime("%m/%d/%Y %H:%M %p")}}
		

		{% else %}
		You'd better think about it.
		
		{% endif %}
	</div>

	<div colspan="4">
		<img src="/static/img/animals/{{ category.get('image') }}" alt="{{ category_name }}"class="confirm img-polaroid">
		
	</div>

</div>

{% endblock %}


{% block scripts %}{% endblock %}