{% extends "/layout.html" %}

{% block styles %}
<style>
img.confirm {
	width: 300px;
}
</style>
{% endblock %}

{% block body %}

<div class="row">

	<!-- left column -->
	<div class="span6 offset1">
		<h2>It's {{name}}'s thesis time:</h2>
		Good luck on your {{category_name}}!

		<hr />
		{% if start_time %}
		Your thesis time starts from 
		<br /> {{ thesis_time.strftime("%m/%d/%Y %H:%M %p")}}
		

		{% else %}
		You'd better think about it.
		
		{% endif %}
	</div>

	<div colspan="4">
		<img src="/static/img/categories/{{ category.get('image') }}" alt="{{ category_name }}"class="confirm img-polaroid">
		
	</div>

</div>

{% endblock %}


{% block scripts %}{% endblock %}